//
//  .gitignore
//  AvApp
//
//  Created by Hasan Zaidi on 12/22/25.
//

## Bundler
vendor/bundle/
**/vendor/bundle/

## Xcode build products
DerivedData/
build/
*.xcarchive
*.ipa
*.dSYM
*.dSYM.zip
*.xcresult

## Xcode user data
xcuserdata/
*.xcuserdatad/
*.xcuserstate

## fastlane outputs
fastlane/report.xml
fastlane/test_output/
fastlane/screenshots/

## macOS
.DS_Store

## Secrets and signing assets
.env
*.p12
*.mobileprovision
